# Ignore virtual environment
venv/

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore pytest cache
.pytest_cache/

# Ignore log files
*.log